/Car.class
/Constants.class
/Scheduler.class
/SimulationMode.class
/Time.class
/TrafficLight.class
/UserInterface$1.class
/UserInterface$2.class
/UserInterface.class
/TrafficLightColor.class
/Constants$TrafficLightColor.class
